/* ブラウザの初期スタイルをリセット */
*, *::before, *::after { box-sizing: border-box; }
body, h1, h2, h3, h4, p, ul, ol, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none; }
a { text-decoration: none; color: inherit; }
img { max-width: 100%; height: auto; vertical-align: middle; }
body { line-height: 1.6; font-family: "Noto Sans JP", sans-serif; color: #333; background: #fff; }